{% extends "blog/base.html" %}

{% block content %}

<div class="container container-main">
    <div class="create-post-wrapper">
        <h2 class="create-title">Create New Post</h2>


<form method="POST">
    {% csrf_token %}

<!--Top section -->

<div class="post-meta-section">
    <div class="row">
        <div class="col-md-6">
            <div class=""form-group-clean">
            {{ form.subject.label_tag }}
            {{ form.subject }}          
            </div>
        </div>

        <div class="col-md-6>
            <div class="form-group-clean">
                <label>Tags</label>
                <div class="tag-container"></div>
                    {% for checkbox in form.tags%}
                        <label class="tag-badge checkbox-label">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div> 

<!--Main content section -->
    <div class="post-content-section">
        <div class="form-group-clean">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

    <div class="form-group-clean">
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    
    <div class="submit-section">
        <button type="submit" class="btn btn-primary">
            Create Post
        </button>
    </div>
</form>

</div>
</div>
   
{% endblock %}