{% extends "blog/base.html" %}

{% block content %}

<!-- PAGE HEADER -->
 <div class="page-header mb-4">
    <h1>Edit Profile</h1>
    <p class="text-muted">Update your profile information and preferences.      
    </p>
 </div>

<!-- Edit Profile Form -->

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <div class="card shadow-sm p-4">
        <form method="POST">
            {% csrf_token %}

            <!--form fields loop through for better control and styling -->
            {% for field in form %}
                    {% if field.name == 'bio' %}
                    <div class="mb-3 summernote-field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-between mt-4">
                <!--backbutton -->
                <a href="{% url 'profile' user.username %}" class="btn btn-outline-secondary">
                    Back to Profile
                </a>
                <!--Submit button -->
                <button type="submit" class="btn btn-primary">
                    Update Profile
                </button>
            </div>
        </form>
    </div>
 </div>

 {% endblock %}
